@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Lato', sans-serif;
}

@layer components {
  .btns { 
    @apply px-4 py-2 bg-cyan-300 border-none text-gray-100 duration-500 rounded-md capitalize font-semibold 
  }

  .section-title {
    @apply md:text-4xl text-2xl mt-2 font-semibold text-gray-800 text-center mb-2
  }

  .team-img {
    @apply rounded-xl md:w-44 w-72 mb-2 
  }

  .inputs {
    @apply md:py-2 py-1 pl-1 pr-3 bg-white rounded-lg w-full border border-cyan-500 focus-within:border-cyan-400 outline-none
  }

  .service-card {
    @apply my-4 p-3 flex flex-col justify-center shadow-lg hover:shadow-xl rounded-xl hover:translate-y-1 hover:scale-95 duration-500
  }

  .testimonial-card-name {
    @apply text-gray-700 font-light md:text-lg
  }

  .testimonial-card-post {
    @apply font-medium text-yellow-500 text-sm
  }

  .testimonial-card-content {
    @apply font-medium md:text-xl text-cyan-800 italic
  }

  .container {
    @apply md:py-16 py-8 md:mb-24 mb-16 flex flex-col items-center
  }

  .card-container {
    @apply md:m-24 my-12 m-4 lg:gap-16 md:gap-12 gap-8 grid lg:grid-cols-3 md:grid-cols-2
  }

  .card {
      @apply rounded-xl shadow-md md:text-base text-sm
  }

  .card-content {
      @apply md:px-4 px-3 py-6
  }

  .card-title {
      @apply font-semibold text-cyan-700  
  }

  .card-subtitle {
    @apply font-medium text-gray-700 hover:text-cyan-700
}

  .card-description {
      @apply text-gray-600
  }

}


.bar-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  cursor: pointer;
  transition: transform 0.3s;
}


/* baricon */
.bar-icon span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: transform 0.3s, opacity 0.3s;
}

.bar-icon.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.bar-icon.open span:nth-child(2) {
  opacity: 0;
}

.bar-icon.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}



